.chat-container{
    display: flex;
    flex: 0.65;
    flex-direction: column;
}
.chat-body {
    flex: 1;
    padding: 2rem;
    overflow-y: scroll;
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png);
    background-repeat: repeat;
    background-position: center;
    
  }